.layout {
  font-family: Arial, Helvetica, sans-serif;

  &__header {
    margin-left: 1rem;
    padding: 0 1rem;

  }

  &__main {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}

a {
  color: #000;
}

.footerlinks {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-between;
  margin-left: 1rem;
  padding-left: 1rem;
}
