<%- include('header', {title: title}) -%>
  <header>
    <h1>Fræðslumyndbandaleigan</h1>
  </header>
  <main>
    <div class="grid">
      <% categories.forEach((category) => { %>
        <%- include('videoGroup', {group: category, videos: videos}); -%>
      <% }); %>
    </div>
  </main>
<%- include('footer') -%>
