.layout {
  font-family: Arial, Helvetica, sans-serif;

  &__header {
    margin-left: 5rem;
    padding: 0 1rem;

  }

  &__main {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}

.flokkar {
  background-color: #f5f3e3;
  border:1px solid black;
  border-radius: 5px;
  margin: 1rem;
  padding-left: 0.5rem;
  width: 29%;
}

.frettir {
  display: flex;
  flex-wrap: wrap;
}

.barafrettir{
  margin-bottom: 2rem;
}

p {
  margin-bottom: 0.5rem;
}

.navlink {
  font-weight: bold;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}
