* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-paperwhite: #ffe;
  --color-error: #a77;
  --color-accent: #aa6;
}

html {
  background-color: var(--color-paperwhite);
  box-sizing: border-box;
  font-family: 'Georgia', serif;
  font-size: 20px;
}

input,
textarea,
button {
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

h1,
.fjoldiundirskrifta {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 0.5rem;
}

main {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

h1,
h2,
.fjoldiundirskrifta {
  text-align: center;
}

.form {
  align-items: center;
  border-bottom: 2px dotted var(--color-accent);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.field {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.field label {
  font-size: 1rem;
  min-width: 140px;
}

.field input,
.field textarea {
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  flex: 1;
  padding: 8px;
  width: 100%;
}

.field--textarea {
  align-items: flex-start;
}

.field textarea {
  flex: 1;
  min-height: 3rem;
}

.field--invalid input,
.field--invalid textarea {
  background-color: #fbb;
  border-color: var(--color-accent);
}

.field--checkbox {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.field--checkbox input {
  width: 30px;
}

.skrifa {
  background-color: #fff;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  font-size: 2rem;
  margin-top: 1rem;
  max-width: 300px;
  padding: 0.5rem;
  transition: background-color ease-in 300ms;
  width: 100%;
}

button:hover {
  background-color: var(--color-accent);
}

.errors {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.error-title {
  margin-top: 1rem;
}

.registrations {
  margin-bottom: 2rem;
}

.registrations-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.registrations-empty {
  text-align: center;
}

.registrations-table {
  border-collapse: collapse;
  border-left: 1px solid var(--color-accent);
  border-top: 1px solid var(--color-accent);
  width: 100%;
}

.registrations-table th,
.registrations-table td {
  border-bottom: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  min-width: 100px;
  padding: 10px;
}

.registrations-table .name {
  min-width: 150px;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.eyda {
  background-color: #fff;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  font-size: 1rem;
  max-width: 300px;
  padding: 0.5rem;
  transition: background-color ease-in 300ms;
  width: 100%;
}

.delete form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.admin {
  font-weight: bold;
}
