<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>
<p>Innskráður sem: <span class="admin">admin</span></p>
<a href="/logout">Útskrá</a>

<%- include('list') -%>

<%- include('footer') -%>
